body{
background:#f4f6f9;
font-family:Segoe UI;
transition:0.4s;
}

/* Dark Mode */

.dark{
background:#0f172a;
color:white;
}

.dashboard-card{
padding:22px;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.upload-card{
padding:25px;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.hash{
font-size:12px;
word-break:break-all;
color:#64748b;
}

/* Elegant button */

.scan-btn{
background:#334155;
color:white;
border:none;
padding:10px 22px;
border-radius:8px;
font-weight:500;
transition:0.3s;
}

.scan-btn:hover{
background:#1e293b;
transform:scale(1.03);
}

/* Detection result */

.status-box{
font-size:18px;
font-weight:600;
padding:10px;
border-radius:8px;
text-align:center;
background:#e2e8f0;
width:160px;
}

.malicious{
background:#fee2e2;
color:#b91c1c;
}

.benign{
background:#dcfce7;
color:#15803d;
}

.unknown{
background:#fef9c3;
color:#92400e;
}

/* Chart smaller */

#statsChart{
max-height:220px;
}

/* Dark mode styles */

.dark .dashboard-card{
background:#1e293b;
color:white;
}

.dark .upload-card{
background:#1e293b;
}

.dark table{
color:white;
}

.dark .status-box{
background:#334155;
}

/* Toggle */

.theme-toggle{
display:flex;
align-items:center;
gap:8px;
}

.switch{
position:relative;
display:inline-block;
width:50px;
height:26px;
}

.switch input{
opacity:0;
width:0;
height:0;
}

.slider{
position:absolute;
cursor:pointer;
top:0;
left:0;
right:0;
bottom:0;
background:#cbd5f5;
transition:0.4s;
border-radius:34px;
}

.slider:before{
position:absolute;
content:"";
height:20px;
width:20px;
left:3px;
bottom:3px;
background:white;
transition:0.4s;
border-radius:50%;
}

input:checked + .slider{
background:#334155;
}

input:checked + .slider:before{
transform:translateX(24px);
}